/*样式重置开始*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    padding: 0;
    margin: 0;
}
/*样式重置结束*/

/*通用样式开始*/
img{
    border: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
html{
    font-size: 16px;
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
}
body{
    height: 2000px;
}
@media (max-width:767px){
    html{
        font-size: 14px;
    }
    #head{
        padding: 0 15px;
    }
    img{
        max-width: 100%;
        min-width: 40%;
    }
}

/*通用样式结束*/

/*head开始*/
#head{
    display: -webkit-box;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: pink;
}
#menu-icon{
    -webkit-box-flex: 1;
    height: 46px;
    margin-top: 27px;
    opacity: 0.5;
    cursor: pointer;
    transition: all .5s ease;
}
#menu-icon:hover{
    opacity: 1;
}
#menu-icon a{
    font-size: 0.8rem;
    width: 30px;
    display: block;
    text-align: center;
    color: #000;
}
#logo{
    -webkit-box-flex: 1;
    text-align: center;
}
#logo img{
    width: 73px;
    margin-top: 14px;
}
#club{
    -webkit-box-flex: 1;
    height: 40px;
    text-align: right;
    margin-top: 30px;
    font-size: 1rem;
}
#club a{
    color: #b89f7a;
    font-weight: bolder;
}
#club a:hover{
    color: #967a50;
}

/*head结束*/

/*side-bar开始*/
#mask{
    background: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 1s ease;
    display: none;
}
#menu{
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
#side-bar:target #mask{
    display: block;
}
#side-bar:target #menu{
    width: 270px;
}
/*side-bar结束*/

/*banner开始*/
#banner{
    margin-top: 100px;
}
#banner img{
    width: 100%;
    cursor: pointer;
}
#more{
    width: 80px;
    height: 50px;
    background: peachpuff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -5px;
}
#more p{
    text-align: center;
    line-height: 50px;
}

/*banner结束*/

/*rewards开始*/
#rewards{
    width: 100%;
    background: #000000;
    height: 200px;
    color: #ffffff;
    display: -webkit-box;
}
#star-card{
    -webkit-box-flex: 1;
}
#star-card p{
    margin-left: 250px;
    margin-top: 70px;
    font-size: 20px;
}
#star-club{
    -webkit-box-flex: 1;
}
#star-club #p1{
    font-size: 25px;
    margin-top: 30px;
}
#star-club .btn{
    width: 80px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border: 2px solid #967a50;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    color: #967a50;
    font-weight: bolder;
    cursor: pointer;
}
#star-club .btn:hover{
    background: #967a50;
    color: #ffffff;
}
#star-club #kmore{
    margin-top: 30px;
}
#star-club #kmore a:hover{
    opacity: 1;
}
#star-club #kmore a{
    color: #967a50;
    opacity: .6;
}

/*rewards结束*/

/*cell开始*/
#cell{
    width: 100%;
    display: -webkit-box;
    cursor: pointer;
    position: absolute;
}
#cell > div{
    -webkit-box-flex: 1;
}
#cell img{
    width: 100%;
}
#cell .word{
    height: 80px;
    width: 200px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top: -40px;
    margin-left: 200px;
}
#cell h2{
    font-weight: bolder;
    color: #ffffff;
}
#cell h3{
    color: #b89f7a;
}

/*cell结束*/

/*load开始*/
#load{
    width: 100%;
    height: 300px;
    position: absolute;
    display: -webkit-box;
    margin-top: 538px;
}
#load>div{
    -webkit-box-flex: 1;
}
#load1{
    width: 100%;
}
#load2{
    width: 100%;
    line-height: 50px;
    margin-top: 80px;
}
#load2 p{
    font-size: 25px;
    margin-left: 50px;
}
#load2 a:hover{
    opacity: 1;
}
#load2 a{
    color: #967a50;
    opacity: .6;
    margin-left: 50px;
}
/*load结束*/

/*kind开始*/
#kind{
    width: 100%;
    height: 800px;
    background: #eeeeee;
    position: absolute;
    margin-top: 838px;
}
#k-kind1{
    text-align: center;
    width: 100%;
    height: 250px;
    background: pink;
}
#k-kind1 h5{
    color: #b89f7a;
    margin-top: 50px;
}
#k-kind1 h1{
    margin-top: 15px;
}
#k-kind1 h3{
    margin-top: 50px;
}
#k-kind2{
    width: 100%;
    height: 500px;
}

/*kind结束*/

/**/
#reserve{
    width: 100%;
    height: 700px;
    background: #000;
    position: absolute;
    margin-top: 1638px;
    display: -webkit-box;
}
#reserve > div{
    -webkit-box-flex: 1;
}
#reserve1{
    background: lightpink;
    width: 100%;
}
#reserve2{
    text-align: center;
}
#reserve2 h5{
    color: #967a50;
    margin-top: 15px;
}
#reserve2 h2{
    color: #ccc;
    margin-top: 20px;
    line-height: 50px;
}
#reserve2 .btn{
    width: 120px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border: 2px solid #967a50;
    float: left;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 40px;
    color: #967a50;
    font-weight: bolder;
    cursor: pointer;
}
#reserve .btn:hover{
    background: #967a50;
    color: #ffffff;
}
/**/
